<div class="footer-container">
    <footer class="footer">
        <div class="footer-container2">
            <div class="footer-column">
                <h4>{{ 'HEADER.CONTACT' | translate }}</h4>
                <p>{{ 'HEADER.ADRESS' | translate }}</p>
                <p>{{ 'HEADER.PHONE' | translate }}: +38 (000) 123-45-67</p>
                <p>Email: contact&#64;sanavita.com</p>
            </div>

            <div class="footer-column">
                <h4>{{ 'HEADER.NAVIGATION' | translate }}</h4>
                <ul>
                <li><a routerLink="/home" (click)="scrollToSection('about')">{{ 'HEADER.HOME' | translate }}</a></li>
                <li><a routerLink="/home" (click)="scrollToSection('features')">{{ 'HEADER.ABOUT' | translate }}</a></li>
                <li class="atz">i love ateez</li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>{{ 'HEADER.SOCIAL' | translate }}</h4>
                <div class="social-icons">
                <a href="https://facebook.com"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" width="24" height="24"></a>
                <a href="https://instagram.com"><img src="https://cdn-icons-png.flaticon.com/512/733/733558.png" alt="Instagram" width="24" height="24"></a>
                <a href="https://twitter.com"><img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter" width="24" height="24"></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 SanaVita — All rights reserved</p>
        </div>
    </footer>
</div>