.footer {
  font-size: 14px;
  color: #525252;
  font-weight: 400;
  background-color: #f5f5f5;
  padding: 40px 20px 20px;
}

.footer-container {
    width: 100%;
}

.footer-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto 20px;
  gap: 50px;
}

.footer-column {
  flex: 1 1 300px;
}

.footer-column h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #525252;
}

.footer-column p,
.footer-column a {
  font-size: 14px;
  margin: 5px 0;
  color: #525252;
  text-decoration: none;
}

.footer-column a:hover {
  color: #4CAF50;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.atz {
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 400;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  color: #525252;
  margin-bottom: -20px;
}

@media (max-width: 992px) {
  .footer-container2 {
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    flex: 1 1 100%;
  }

  .footer-column h4 {
    font-size: 17px;
  }

  .footer-column a,
  .footer-column p {
    font-size: 14px;
  }

  .footer-bottom {
    font-size: 13px;
  }

  .social-icons a {
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .footer-container2 {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    flex: 1 1 100%;
  }

  .footer-column h4 {
    font-size: 15px;
  }

  .footer-column a,
  .footer-column p {
    font-size: 12px;
  }

  .footer-bottom {
    font-size: 11px;
  }

  .social-icons a {
    margin-right: 6px;
  }

  .social-icons img {
    width: 20px;
    height: 20px;
  }

  .footer {
    padding: 30px 15px 15px;
  }
}