.card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 0.075);
  margin-top: 50px;
  margin-bottom: 50px !important;
}

.card-body {
  padding: 16px;
}

h6 {
  font-size: 14px;
  color: #525252;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.form-control {
  font-size: 14px;
  color: #525252;
  font-weight: 400;
}

.form-control:focus {
  outline: none;
  border-color: #4CAF50;
  background-color: #fff;
  box-shadow: none;
}

.btn-info {
  color: #fff;
  background-color: #4CAF50;
  border-color: #4CAF50;
  font-size: 14px;
}
