body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #dee2e6;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 0.075);
  padding: 15px 15px;
  border-radius: 6px;
  margin: 0 auto;
  gap: 6px 6px;
  margin-bottom: 20px;
  margin-top: 16px;
}

.navbar a {
  flex: 1 1 calc(100% / 6 - 20px);
  min-width: 120px;
  text-align: center;
  padding: 6px 14px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  color: #525252;
  border: 1px solid #b3b3b3;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s;
}

.navbar a:hover {
  cursor: pointer;
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #fff;
}

@media (max-width: 992px) {
  .navbar {
    padding: 12px;
    gap: 8px;
  }

  .navbar a {
    flex: 1 1 calc(100% / 3 - 16px);
    font-size: 13px;
    height: 60px;
    padding: 6px 12px;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 10px;
    gap: 10px;
    margin-bottom: 16px;
  }

  .navbar a {
    flex: 1 1 100%;
    font-size: 12px;
    height: 55px;
    padding: 6px 10px;
  }
}

